<section class="sec-produtos">
	<div class="container">
		<h1 class="-font-light title">Compras Efetuadas</h1>
		<div ng-if="!(compras.length>0)">
			Nenhuma compra cadastrada.
		</div>
		
		<table ng-repeat="compra in compras" class="table table-striped table-bordered table-editable">
		        <thead>
		            <tr>
		                <th>Produto</th>
		                <th>Data</th>
		                <th>Preço</th>
		                <th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
		        	<tr>
						<td>
		                    <a ng-click="go('produto/',compra.produto)">{{compra.produto}}</a>
		                </td>
		                <td>
		                    <text>{{compra.data | date : 'dd/MM/yyyy HH:mm'}}</text>
		                </td>
		                <td>
		                    <text>R$ {{compra.preco}}</text>
		                </td>
		                <td>
		                    <text>{{compra.quantidade}}</text>
		                </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>