<footer class="footer">
	<div class="text clearfix text-center">
		<div class="email"></div><a href="mailto:'paulajbastos@gmail.com'" target="_blank" title="Send me an e-mail">paulajbastos@gmail.com / <a href="https://br.linkedin.com/pub/paula-junqueira-bastos/18/891/82b" target="_blank" title="Go to my linkedin"><i class="fa fa-linkedin-square"></i></a>
		<!-- <div class="linkedin fl-lft"></div> -->
	</div>
	<div class="text text-center">© {{currentYear}} <a href="http://www.paulajbastos.com" target="_blank" title="Portfolio" class="underline">paulajbastos.com.</a> All rights reserved.</div>
</footer>